


/// roboto condensed-bold
/// @access public
@mixin roboto-condensed-bold(){

  @font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/robotocondensed-bold-webfont.eot');
    src: url('fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
    url('fonts/robotocondensed-bold-webfont.woff') format('woff'),
    url('fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
    url('fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('fonts/robotocondensed-bolditalic-webfont.eot');
    src: url('fonts/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
    url('fonts/robotocondensed-bolditalic-webfont.woff') format('woff'),
    url('fonts/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
    url('fonts/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
  }

}