

/// roboto light
/// @access public
@mixin roboto-light(){

  @font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-light-webfont.woff2') format('woff2'),
    url('fonts/roboto-light-webfont.woff') format('woff'),
    url('fonts/roboto-light-webfont.ttf') format('truetype'),
    url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'robotolight_italic';
    src: url('fonts/roboto-lightitalic-webfont.eot');
    src: url('fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
    url('fonts/roboto-lightitalic-webfont.woff') format('woff'),
    url('fonts/roboto-lightitalic-webfont.ttf') format('truetype'),
    url('fonts/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
  }

}
